<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Face Parser</title>
    
    <script src="{{ url_for('static', filename='libs/webcam.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/notify.js') }}"></script>
    
    <style>
      body {
        background-color: lightgrey;
      }
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>