<!DOCTYPE html>
<html>
  <head>
    <title>Face Paarser</title>
    <script src="libs/webcam.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="webcam">
      </div>
      <button onclick='takeScreenshot()'>Take pic</button>
      <div id="results">
      </div>
      <p>Are you disatisfied with your face? 
      Do you have self esteem issues or depression?
      Well I certainly hope not.
      I can change your face. 
      This is incredibly weird and probably insensitive.
      Why on earth did I write this?
      </p>
    </div>
    <script src="sketch.js"></script>
  </body>
</html>
